

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,700,400);
@import url(https://fonts.googleapis.com/css?family=Bad+Script);

html {
    height: 100%; 
    margin: 0px; 
    padding: 0px;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #404c5a;
    -webkit-appearance:none;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-weight: 300;
}
a {
    text-decoration: none;
}
.no-link a:link, .no-link a:visited, .no-link a:hover, .no-link a:active {
    text-decoration: none !important;
}
.clear {
    clear: both;
}
.center {
    margin-right: auto;
    margin-left: auto;
}

.restfull-site-container {
    position: relative;
    bottom 0px;
    background-color: #e4e4e4;
}

/* Header */
.restfull-header {
    position: relative;
    background-color: #404c5a;
    height: 70px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
.restfull-header-item {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.restfull-header h1 {
    margin-top: 12px;
    color: #EEE;
}

/* Content */
.restfull-content {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

/* big logo */
.header-logo {
    position: absolute;
    top: 10%;
    padding-left: 45%;
    padding-right: 5%;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 180px;
    font-weight: 700;
    font-family: 'Bad Script', sans-serif;
    color: #404c5a;
    
}
.logo-large {
    position: absolute;
    width: 800px;
    top: 50px;
    z-index: 100;
    transform: rotate(1.5deg);
}
.huge-text {
    position: absolute;
    top: 178px;
}
/* the part of the splash with the button */
.header-direction {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0px;
    right: 0px;
    margin: auto;
    padding-right: 65%;
    padding-left: 5%;
}
.header-smalltext {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.login-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Footer */
.restfull-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -100px;
    height: 100px;
    background-color: #404c5a;
    box-sizing: border-box;
    padding: 30px;
    color: #EEE;
    z-index: 100;
}

/* Home */
.restfull-home h1 {
    padding-top: 100px;
    padding-bottom: 650px;
    text-align: center;
}

/* Editor */
.restfull-editor input, .restfull-editor select {
    margin-bottom: 20px !important;
}
.restfull-editor h1 {
    margin-left: 20px !important;
}
.restfull-editor input[type="checkbox"] {
    margin-right: 15px;
    margin-left: 15px;
}

.restfull-editor-nav {
    position: relative;
    height: 75px;
    width: 100%;
    background-color: #333;
    overflow: hidden;
}

.restfull-editor-nav-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
}

.restfull-editor-nav-button {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -17px;
}

.restfull-editor-section {
    position: relative;
    background-color: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.restfull-editor-section-center {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.restfull-editor-add-attribute {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #fff;
}

.restfull-editor-schema {
    float: left;
    height: 50px;
    border-radius: 25px;
    background-color: #667588;
    color: #e4e4e4;
    border-bottom: #404c5a 3px solid;
    padding: 14px;
    margin-right: 5px;
    margin-left: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.restfull-editor-schema-new {
    background-color: #8FAB71 !important;
    border-bottom: #6F8D4F 3px solid;
    color: #111;
}
.restfull-editor-schema-selected {
    background-color: #a8b7ca !important;
    border-bottom: none;
    color: #111;
}
.restfull-editor-publish {
    height: 400px;
    padding: 200px;
}
.restfull-editor-publish-text {
    font-family: 'Bad Script', sans-serif;
    text-align: center;
    font-size: 100px;
}