/* Utility */
.clear {
    clear: both;
}

/* Header Raccoon */
.header-image img {
    width: 250px;
    height: auto;
    position: fixed;
    right: 50px;
    top: 10px;
    z-index: 200;
}

/* Circle Button */
.o-circle-button {
    width: 100px;
    height: 100px;
    background-color: #CCC;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #111;
    cursor: pointer;
    transition: all 0.05s ease-in;
    transition-property: color, background-color;
    text-align: center;
    text-decoration: none;
}
.big-button {
    width: 400px;
    height: 400px;
    font-size: 40px;
}
.o-circle-button:hover {
    color: #e4e4e4;
    background-color: #6F8D4F;
}

/* Text Box */
input[type="text"] {
    border: none;
    display: block;
    margin: 0;
    width: 100%;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    background-color: #EEE;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-bottom: #6F8D4F 3px solid;
    transition: border-bottom 0.15s;
}
input[type="text"]:focus {
  outline: none;
  border-bottom: #667588 3px solid;
}

select {
    border: none;
    display: block;
    margin: 0;
    width: 100%;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: 25px;
    padding: 10px;
    background-color: #EEE;
    border-radius: 50px;
    padding-left: 20px;
    height: 50px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: #6F8D4F 3px solid;
    transition: border-bottom 0.15s;
}